@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AuthenticationStateProvider AuthProvider
@inject VendePraMim.Blazor.Services.AuthenticationService AuthService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">VendePraMim.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventos" Match="NavLinkMatch.All">
                <span class="oi oi-calendar" aria-hidden="true"></span> Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ingressos">
                <span class="oi oi-ticket" aria-hidden="true"></span> Ingressos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ofertascompra">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Ofertas de Compra
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="oi oi-people" aria-hidden="true"></span> Usuários
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transacoes">
                <span class="oi oi-transfer" aria-hidden="true"></span> Transações
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="eventos/novo">
                        <span class="bi bi-plus-circle-fill-nav-menu" aria-hidden="true"></span> Novo Evento
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link" href="#" @onclick="Logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Sair
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
    }
}
